<!-- <p>heros works {{hero.name}} with id {{hero.id}}</p> -->
<!-- <p> {{hero.name}} age is {{hero.age}}</p>
<p>heros works {{hero.name}} with salary {{hero.salary}}</p> -->

<div>
    <label for="name">Hero name: </label>
    <!-- <input id="age" [(ngModel)]="hero.age" placeholder="age"> -->
    <!-- <input id="salary" [(ngModel)]="hero.salary" placeholder="salary">
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
    <input id="company" [(ngModel)]="hero.company" placeholder="company"> -->

  </div>

  <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
      <span class="age">{{hero.age}}</span>
    </button>
  </li>
</ul>



<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>
